@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --supportSectionColor: #131313;
  --yellow: #d7ff2e;
  --light: #ffffff;
  --hoverCard: #232323;
}

.App {
  text-align: center;
}

.support-header {
  background-color: var(--supportSectionColor);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

.text-yellow {
  color: var(--yellow);
}
span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
span > h3 {
  letter-spacing: 0.01em;
  font-size: 2.75rem;
  line-height: 2;
  font-weight: 700;
}
#read {
  display: block;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 4rem;
  border: 1px solid transparent;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}


#read:hover {
  border: 1px solid var(--yellow);
}
#read svg {
  transform: rotate(-90deg);
  fill: var(--yellow);
  text-align: center;
  height: 1rem;
  transition: 0.15s;
}

#read:hover svg,#read.hover svg {
  transform: rotate(90deg);
}

.support_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.support_card > svg:first-child {
  height: 4rem;
}

.support_card > *:nth-child(2) {
  height: 4rem;
  margin: 1.75rem 0 2rem;
}

.support_card:last-child > *:nth-child(2) {
  height: 3.5rem;
}
.support_card p {
  max-width: 22rem;
  margin: auto;
}

#cheerleaders {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#cheerleaders > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

#cheerleaders > div > div {
  grid-row: 1/2;
  grid-column: 1/2;
}

#cheerleaders > div > div > h5 {
  color: var(--yellow);
  font-weight: 500;
}

#cheerleaders > div > div:last-child {
  max-width: 23rem;
  text-align: left;
  background-color: var(--hoverCard);
  border-radius: 0.5rem;
  padding: 2rem;
  z-index: -1;
}

.show{
  order: 1;
  z-index: 3 !important;
}
.animate_left{
  animation: animate-left 0.3s ease-in 1ms;
  position: relative;
}
.animate_right{
  animation: animate-right 0.3s ease-in 1ms;
  position: relative;
}
@media (min-width: 1440px) {
  #cheerleaders > div > div:last-child {
    max-width: 40rem;
  }
  span > h3 {
    line-height: 1.15;
    margin: 4rem auto 4rem;
    font-size: 5rem;
  }
  #read{
    font-size: 2.5rem;
  }
  .support_card > svg:first-child{
    height: 5rem;
  }
  .support_card > *:nth-child(2) {
    height: 5rem;
    margin: 2.75rem 0 3rem;
  }
  .support_card p {
    max-width: 35rem;
  }
  p{
    font-size: 1.5rem;
  }
  h5{
    font-size: 1.75rem;
  }
}

@media (max-width: 700px) {
  span>h3:not(:last-child){
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 1.2;
  }
  span>h3:last-child{
    margin-top : 0rem;
    line-height: 1.2;
  }

  #cheerleaders{
    display: block;
  }
  #cheerleaders>div{
    margin: 2rem 0;
  }
  .show{
    margin: auto;
  }
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

@keyframes animate-left {
  0% {
    right: -60px;
    opacity: 0.9;
    z-index: 3 
  }
  50% {
    right: -30px;
    opacity: 1;
    z-index: 3 
  }
  100% {
    opacity: 1;
    right: 0px;
    z-index: 3 
  }
}

@keyframes animate-right {
  0% {
    left: -60px;
    opacity: 0.9;
    z-index: 3 
  }
  50% {
    left: -30px;
    opacity: 1;
    z-index: 3 
  }
  100% {
    opacity: 1;
    left: 0px;
    z-index: 3 
  }
}


